body{
  font-family: outfit !important;
}
input.form-control.styled-input {
    color: #000;
}
textarea.form-control.styled-input{
  color: #000;
}
.admin-search-box{
  border: none !important;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  height: 45px;
  border-radius: 10px !important;
  border: 1px solid #1c1c1c !important;
  background-color: #ededed !important;
  color: #000 !important;
}